@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    font-family: helvetica, arial, sans-serif;
	font-size:1em;
}
h1, h2{
    font-family: 'Raleway', sans-serif;
}
.container{
    border:5px solid #0a0a0a;
    margin:40px;
    padding:40px;
}
.container{
    width:100%;	
    margin:auto;
    max-width: 1200px;
    min-width: 600px;
}